# ------------ API ------------

DatingApp.API/bin
DatingApp.API/obj
DatingApp.API/*.db
.vscode

# ------------ CLIENT ------------

# compiled output
DatingAppSPA/dist
DatingAppSPA/tmp
DatingAppSPA/out-tsc

# dependencies
DatingAppSPA/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
DatingAppSPA/.sass-cache
DatingAppSPA/connect.lock
DatingAppSPA/coverage
DatingAppSPA/libpeerconnection.log
DatingAppSPA/npm-debug.log
DatingAppSPA/yarn-error.log
DatingAppSPA/testem.log
DatingAppSPA/typings

# System Files
.DS_Store
Thumbs.db
