# ------------ API ------------

DatingApp.API/bin
DatingApp.API/obj
DatingApp.API/*.db

# ------------ CLIENT ------------

# compiled output
DatingApp.SPA/dist
DatingApp.SPA/tmp
DatingApp.SPA/out-tsc

# dependencies
DatingApp.SPA/node_modules

# misc
DatingApp.SPA/.sass-cache
DatingApp.SPA/connect.lock
DatingApp.SPA/coverage
DatingApp.SPA/libpeerconnection.log
DatingApp.SPA/npm-debug.log
DatingApp.SPA/yarn-error.log
DatingApp.SPA/testem.log
DatingApp.SPA/typings

# System Files
.DS_Store
Thumbs.db


# ------------ IDE - VSCode ------------

**/.vscode/*
**/!.vscode/settings.json
**/!.vscode/tasks.json
**/!.vscode/launch.json
**/!.vscode/extensions.json