<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']"><i class="fa fa-rocket text-primary"></i> Space Race</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" *ngIf="isAuth">
        <li><a [routerLink]="['/members']">Matches</a></li>
        <li><a [routerLink]="['/lists']">Lists</a></li>
        <li><a [routerLink]="['/messages']">Messages</a></li>
      </ul>
      <form *ngIf="!isAuth" class="navbar-form navbar-right" [formGroup]="authForm" (ngSubmit)="login.emit()">
        <div class="form-group">
          <input type="text" required formControlName="username" placeholder="username" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" required formControlName="password" placeholder="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
      <ul *ngIf="isAuth" class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown>
          <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" dropdownToggle> {{ authUsername }} <span class="caret"></span></a>
          <ul class="dropdown-menu" *dropdownMenu>
            <li><a href="#"> <i class="fa fa-user"></i> Edit Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="logout.emit()"> <i class="fa fa-sign-out"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>